body {
  background-color: #dcdcdc;
}

.container {
  display: grid;
  grid-template-rows: 0.3fr 5fr 0.3fr;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.graph_container {
  display: grid;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.graph_container h3 {
  border-bottom: 6px double #000;
}
.graph_container p {
  padding-top: 5px;
  border-top: 6px double #000;
}
.graph_container a {
  padding-left: 10px;
}

.search_container {
  display: grid;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.search_container p.response{
  border-top: 6px double #000;
}



.content{
  flex: 2;
  background-color: #eee;
  border-radius: 10px;
}

.content h1 {
  text-align:center;
}
.content h2 {
  border-top: 6px double #000;
}

.footer{
  grid-row: 3/4;
}

/*ヘッダー*/
.container .header h1 {
  position: relative;
  padding: 1.5rem 1.5rem calc(1.5rem + 10px);
  display: flex;
  justify-content: center;
  align-items: center;

}

/*フッター*/
.footer p {
  padding: 1rem 2rem;
  border-top: 6px double #000;
}

.search{
  text-align: center;
}

.cwe{
  text-align: center;
}